@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background: radial-gradient(
      farthest-side at top left,
      #36286350,
      #100a241d,
      transparent
    ),
    radial-gradient(
      circle at center,
      #aca9ec80,
      #533e9741,
      #100a2400,
      transparent
    ),
    radial-gradient(
        farthest-corner at bottom right,
        #41ff961b,
        #100a241d,
        transparent
      )
      #100a24 !important;

  min-height: 100vh;
}

.logo {
  margin: 1rem;
  margin-left: 2rem;
  width: 40px;
  height: 40px;
}

.card-div {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 80vh;
}
.card-one {
  width: 300px;
  height: 511px;
  background-color: #ffffff0d;
  border: 1px solid #ffffff12;
  border-radius: 2px;
}
.card-three {
  width: 300px;
  height: 511px;
  background-color: #ffffff0d;
  border: 1px solid #ffffff12;
  border-radius: 2px;
}

.swap-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1c31;
  border: 10px solid #131229;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -65%);
  border-radius: 100%;
  height: 33px;
  width: 33px;
}
.swap-icon-size {
  width: 19px;
  height: 19px;
}

.footer {
  font-family: "Jost", sans-serif;
  display: flex;

  color: #a19dff;
  justify-content: space-between;

  margin: 0.5rem;
}

.footer-text {
  margin-right: 0.5rem;
}

.square {
  background-color: #a19dff;
  height: 5px;
  width: 5px;
}

.code {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.footer a {
  text-decoration: none;
  font-size: 14px;
  color: #a19dff;
}
